h1 {
    font-family: 'Roboto';
}

.nav-item {
    display: inline;
}

.nav-img {
    width: 50px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    padding: 8px;
    margin-left: 10px;
   
}